@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Playfair+Display:ital,wght@0,600;1,600&display=swap');

/*colours*/
body, .navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand, button {
    color: #3e1d00;
}

.navbar-nav .nav-item .nav-link,
a, .btn {
    color: #4c2504;
}

.navbar {
    background-color: #f8f9fa73;
}

.opaque {
    background-color: #f8f9fa73;
}

footer p {
    background-color: #708090a6;
}
/* backgouds */

body {
    background-size: cover;
    background-repeat: no-repeat; 
}

/* fonts */
body {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1rem;  
}

.navbar {
    font-family: 'Fleur De Leah', cursive;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-nav .nav-item .nav-link,
a, .btn {
    font-size: 1.5rem;
    font-weight: bold;
}

.h1, h1 {
    font-size: calc(1.7rem + 1.5vw);
}

th {
    font-size: 1.3rem;
    text-align: center;
}

/* sizes */

body {
    height:100vh;
}

th {
    min-width: 9rem;
}

/* paddings and margins */

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-brand {
    padding-left: 2rem;
}

.container-fluid {
    padding-right: var(--bs-gutter-x,0.1rem);
    padding-left: var(--bs-gutter-x,0.3rem);
}

.introduction {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.table>:not(caption)>*>* {
    padding: 0.2rem 0.5rem;
}
.row {
    --bs-gutter-x: 0px;
}


/*effects*/
.navbar-light .navbar-nav .nav-link.active:hover,
.navbar-light .navbar-brand:hover,
.navbar-nav .nav-item .nav-link:hover,
a:hover, .btn:hover{
    color: black;
}

/*Media queries*/
/* Responsive main image*/
@media screen and (max-width: 510px) {
    body {
    background-size: contain;
    }
    .navbar-light .navbar-brand {
        font-size: 2rem;
        padding-left: 1rem;
    }
}