{% extends "base.html" %}
{% block additional_styles %}
<style>
  body {
    background-image: none;
  }
</style>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12 p-3">
    <h1>About Yoga:</h1>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-2">
    <div class="pt-3 pb-3">
      <h2>YOGA BENEFITS</h2>
    </div>
    <P>
      i benefici coinvolgono la persona a 360°: a livello fisico, energetico, mentale e anche
      caratteriale (perchè quando ci sentiamo bene migliora anche il nostro umore). Una persona
      che sta bene con sé stessa è un patrimonio per la società, perché quel benessere si
      trasmette in famiglia, nell'ambiente di lavoro, nella relazioni di amicizia ecc.
      I benefici a livello fisico sono senz'altro importanti. Lo yoga rafforza l'apparato
      muscolo-scheletrico e migliora la postura, stimola il sistema endocrino, rafforza il sistema
      immunitario, migliora un po' tutte le funzioni fisiologiche, dal sonno alla digestione. Lo
      yoga ci insegna a prendere consapevolezza del nostro respiro e altra cosa importantissima
      ci insegna a rilassarci. Perchè tutti possono sapersi riposare ma il rilassamento è un´arte
      che va imparata e praticata costantemente.
      La cosa importante come insegnante di yoga è anche cercare di far capire alle persone che
      l'agonismo non fa parte dello yoga, si tratta di imparare a conoscere i limiti del proprio
      corpo e di lavorare rispettandoli accettando di progredire un po´alla volta. La fretta infatti
      non fa parte dello yoga. Magari alcuni risultati potranno essere raggiunti in breve tempo,
      altri più avanti quando il corpo e la mente saranno pronti. O altri non si raggiungeranno
      proprio e va bene lo stesso, perchè l'obiettivo non è la performance ma il viaggio. ©
      La pratica yoga è un viaggio per “intronauti”, ossia per chi ha voglia e necessità di esplorare
      e conoscere il proprio mondo interiore.
    </P>
  </div>
</div>

<div class="row">
  <div class="col-12 p-3">
    <h1>About Me:</h1>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-2">
    <div class="pt-3 pb-3">
      <h2>MY PASSION FOR YOGA</h2>
    </div>
    <p>
      My parents are both yoga teachers and therefore I have always heard and seen yoga being
      practiced at home. As a child and teen I played different types of sports as well as dance
      and ballet but I wasn't really interested in yoga. I had the idea that it was something super
      spiritual, that you need to be flexible, and that it was boring for me.
      At the age of 28, when I was living in Vienna, I trained everyday at the gym but I felt the
      need to try something different in order to build strength, awareness and harmony in both
      the mind and body.. So I decided to give yoga a try, I went to a class and from that moment
      on, I was in love. I started doing Yoga every day and it completely changed my life! I was
      impressed by how Yoga and breath work completely changed my body, which regarding
      sports and dance was very stiff. I felt flexible and strong too-and it was amazing how a
      regular yoga practice made me feel so much healthier overall. Yoga helped me even more
      on a mental level to put my life into perspective. It is my personal therapy, which helped
      me organize myself internally.
      When I first started teaching I noticed that a very large group of my students suffered from
      neck and back pains. So I decided to become a postural gym instructor in order to
      incorporate new elements in my practice and help my students with specific exercises.
      Another aspect that I wanted to deepen was the energetic aspect. I have always been a
      person with high energy and I was also looking for a yoga method that could help me to
      boost my workout. I found it with the power yoga. After practicing for my self for some
      years I became a power yoga teacher too.
    </p>
  </div>
</div>
{% endblock %}