{% extends "base.html" %}
{% load static %}
{% block additional_styles %}
<style>
    body {
        background-image: none;
    }
</style>
{% endblock %}
{% block content %}

<h2>Your Reservations:</h2>
{% for reservation in reservations %}
{% if user.id == reservation.member.id %}
<p class="d-inline">{{ reservation.yoga_class.yoga_type }}:
  {{ reservation.yoga_class.day|date:"l, d M" }} time:
  {{ reservation.yoga_class.time }}</p>
<a class="d-inline" href="{% url 'delete' reservation.id %}" class="post-link">Delete<br></a>

{% endif %}
{% endfor %}

{% endblock %}