{% extends "base.html" %}
{% load static %}


{% block content %}



  <h2>Your Reservations:</h2>
  {% for reservation in reservations %}
  <p>{{ reservation.yoga_class.yoga_type }}: {{ reservation.yoga_class.day|date:"l, d M" }} time: {{ reservation.yoga_class.time }}</p>
  {% if reservation.approved %}
  <p>Confirmed!</p>
  <p>{{ reservation_class }}</p>
  <a href="{% url 'delete' reservation.id %}" class="post-link">Delete</a>
  {% else %}
  <p>Unfortunately the class is sfully booked, your reservation can't be processed</p>
  {% endif %}
  
  {% endfor %}
          


  {% endblock %}